[submodule "doc/doxygen-bootstrapped"]
	path = doc/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "deps/tbb"]
	path = deps/tbb
	url = https://github.com/dschoeffm/tbb.git
[submodule "deps/sparsehash"]
	path = deps/sparsehash
	url = https://github.com/dschoeffm/sparsehash.git
[submodule "deps/AstraeusVPN"]
	path = deps/AstraeusVPN
	url = https://github.com/dschoeffm/AstraeusVPN.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/dschoeffm/openssl.git
	branch = moonstate
[submodule "deps/libsodium"]
	path = deps/libsodium
	url = https://github.com/jedisct1/libsodium.git
	branch = stable
